body {
  // font-family: 'Press Start 2P', cursive;
  font-family: 'Anonymous Pro', monospace;
  font-size: 15px;
}

#navLogo {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
}

h1 {
  font-family: 'Press Start 2P', cursive;
}
