//COLORS
$Black: rgba(23, 18, 25, 1);
$Beige: rgba(243, 239, 224, 1);
$Light-Grey: rgba(128, 128, 128, 1);
$White: rgba(255, 255, 255, 1);
$Dark-Grey: rgba(70, 70, 85, 1);

//FONTS
$main-font: 'Bitter', serif;

/* BODY */
body {
  font-family: $main-font;
  color: $Black;
  /* background-image: url("../images/background.jpeg"); */
  background-size: 100%;
  background-color: $Light-Grey;
}

nav {
  background-color: $Black;
  height: 75px;
  li {
    backgound-color:$Dark-Grey;
    color: $Light-Grey;
    /*padding-top: 20px;*/
  }
  a {
    color: $Beige;
    text-decoration: none;
  }

  a:hover {
    color:$Light-Grey;
  }
}
