/* Coolors Exported Palette - coolors.co/171219-f3efe0-808080-ffffff-464655 */

/* HSL */
$Black: hsla(283%, 16%, 8%, 1);
$Beige: hsla(47%, 44%, 92%, 1);
$Light-Grey: hsla(0%, 0%, 50%, 1);
$White: hsla(0%, 0%, 100%, 1);
$Dark-Grey: hsla(240%, 10%, 30%, 1);

/* RGB */
$Black: rgba(23, 18, 25, 1);
$Beige: rgba(243, 239, 224, 1);
$Light-Grey: rgba(128, 128, 128, 1);
$White: rgba(255, 255, 255, 1);
$Dark-Grey: rgba(70, 70, 85, 1);

font-family: 'Bitter', serif;
